{% extends 'base.html' %}

{% block content %}
    <main>
        <div>
            <h1>My Lists</h1>
        </div>
        <table>
            <thead>
                <th>Name</th>
                <th>Number of Items</th>
            </thead>
            <tbody>
                {% for list in todolist_list %}
                <tr>
                    <td><a href="{% url 'todo_list_detail' list.id %}">{{ list.name }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %}
